* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  height: 60%;
  width: 50%;
  min-width: 650px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .text {
    height: 70%;
    width: 100%;
    border: 1px solid #000;
    padding: 5px;
    display: flex;
    align-items: baseline;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    .line {
      text-align: justify;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .word {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-stretch: 1px;
      }
    }
  }
}
.active {
  color: rgb(26, 94, 94);
  border: 2px solid rgb(95, 131, 155);
  border-radius: 3px;
}
.completed {
  color: gray;
}

.error {
  color: red;
}
