* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  height: 60%;
  width: 50%;
  min-width: 650px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .start-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    .start-button {
      width: 20%;
      height: 10%;
      background: rgb(210, 235, 235);
      font-size: 1.4rem;
      border: none;
      border-radius: 5px;
    }
  }
  .text {
    height: 70%;
    width: 100%;
    border: 1px solid #000;
    padding: 5px;
    display: flex;
    align-items: baseline;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    line-height: 1.3rem;
    .line {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .word {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-stretch: 1px;
        text-align: center;
      }
    }
  }

  .stats {
    height: 20%;
    width: 100%;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.active-letter {
  background-color: rgb(26, 94, 94);
  border-radius: 3px;
}

.active-word {
  background-color: aqua;
}
.completed {
  color: gray;
}

.error {
  color: red;
}
